.style { padding: 2px; border-radius: 2px; }
.style--gorgeous { background-color: #efb363; }
.style--simple { background-color: #d2dee7; }
.style--elegance { background-color: #ebe9ff; }
.style--lively { background-color: #ffe484; }
.style--mature { background-color: #ff7877; }
.style--cute { background-color: #ffe4e1; }
.style--sexy { background-color: #aaa2cb; }
.style--pure { background-color: #def3d6; }
.style--warm { background-color: #ffdcb5; }
.style--cool { background-color: #ceeefb; }
